In [1]:
import pandas as pd

In [7]:
ind = pd.read_csv("usIndicatorsFall22.csv")
ind.head()

,date,time,indicator,actual,previous,consensus,forecast
0,8/1/22 0:00,6:00 AM,ISM Manufacturing PMI,52.800,53.000,52.0,52.2
1,8/2/22 0:00,6:00 AM,JOLTS Job Openings,10.698,11.303,11.0,11.0
2,8/3/22,6:00 AM,ISM Non Manufacturing PMI,56.700,55.300,53.5,52.5
3,8/4/22,4:30 AM,Balance of Trade,-79.600,-84.900,-80.1,-83.0
4,8/5/22,4:30 AM,Non Farm Payrolls,528.000,398.000,250.0,290.0

**Iterate Indicator dataframe by index**

provide an index location in the indicator dataframe, and get back the indicator, with information

In [4]:
def iterateIndforIndex(index):
    frame = ind.loc[index]
    
    return frame

In [8]:
t = iterateIndforIndex(0)
t.head()

date                   8/1/22 0:00
time                       6:00 AM
indicator    ISM Manufacturing PMI
actual                        52.8
previous                      53.0
Name: 0, dtype: object

In [23]:
def loadCSV(type, fileName):
    if type == "caps/lob":
        sl = "./lob_caps/"
        loc= sl+ fileName 
    df = pd.read_csv(loc)
    return df

In [25]:
# !ls lob_caps/
f = loadCSV("caps/lob", 'Fri Aug 12 2022 06:31:51 GMT-0700 (Pacific Daylight Time)-CAPS.csv')
f.head()

,bc,ac,tbv,tav,time,mp,minBid
0,7879772.25,1.228160e+09,738044.74,252320.76,1660311116579,28.68,28.56
1,7883935.20,1.228154e+09,738186.76,252098.57,1660311118994,28.67,28.56
2,7895100.08,1.228153e+09,738583.24,252064.75,1660311121800,28.67,28.56
3,7946296.53,1.228135e+09,740363.89,251427.95,1660311124914,28.68,28.56
4,7910928.75,1.228147e+09,739120.06,251864.12,1660311128019,28.71,28.56